<p>Dear <%= @task.user.first_name %>,</p>

<p>This is a reminder that your task "<%= @task.task_name %>" is due on <%= @task.deadline_date %>.</p>

<p>Please make sure to mark it as done if completed.</p>

<p>Thank you!</p>
